nav{
    width: 100%;
    height:auto;
    position: fixed;   
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    margin: 15px;
}
nav ul li a{
    color:white;
    font-weight:bold;
    text-decoration: none;
    font-size:25px;
}
video{
    height:85vh;
    width: auto;
    background-size: contain;
}
.content{
    height: 100vh;
   display: flex;
   justify-content: space-between;
   background-color: #000000b5;
   padding:80px;
}
.content h1{
    color: white;
    font-size:15vw;
    font-weight: bold;
}
.contact_content{
    background-color: #000000b5;
    height: 100vh;
}
.contact_div div{
    width: 50vw;
}
.contact_div div form{
    display: grid;
    width: 100%;
}
.contact_div{
    display: flex;
}
.gallery{
    height: 100vh;
    background-color: #000000b5;
}
.gallery img{
    width: 100%;

}
.about_content{
    height: 100%;
    background-color: #000000b5;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.navbar-toggle{
    display: none;
}
@media (max-width:870px){
    nav ul li{
        display: flex;  
    }
    #header{
        position: absolute;
    }
    .content{
        padding: 10px 0px 0px 0px;

    }
    .contact_form{
        position: absolute;
    }
    .contact_div img{
        width: 100vw;
    }
    .navbar-toggle{
        display:block;
    }
    nav{
        z-index:999;
    }
    .main_nav{
        display:none;
        background-color: black;
        color:white;
        text-align: center;
    }
    .open{
        display:block
    }
}